body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #1491f6;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/******************************** Custom CSS ********************************/

/*
    # - id
    . - class
*/



/*navBar Brand Name*/
#navBrand {
    padding-left: 10px;
    font-weight: bold;
    font-style: italic;
}


/*Carousel Size*/
#img-slider {
    max-width: 850px;
    background-color: #565e64;
}


/*Carousel Placement*/
.carousel {
    margin: 0 auto;
    margin-bottom: 50px;
}


/*Movie Info*/
#movieInfo{
    width: 50%;
    margin-left: 410px;
}

.btn-group-vertical {
    margin-bottom: 10px;
}

.btn-group-vertical .btn {
    margin-bottom: 20px;
}


/*Developer's Signature*/
#devSignature {
    margin-top: 2px;
    font-family: 'Brush Script MT';
    font-size: 25px;
}


/*Modal --- Credit: https://codepen.io/JacobLett/pen/xqpEYE*/
.modal-dialog {
    max-width: 80%;
    margin: 30px auto;
}

.modal-body {
    position: relative;
    padding: 0px;
}

.close {
    position: absolute;
    right: -30px;
    top: 0;
    z-index: 999;
    font-size: 2rem;
    font-weight: normal;
    color: #fff;
    opacity: 1;
}