@{
    ViewBag.Title = "About";
}

<br />

<h3>Vision Statement:</h3>

<p style="width: 75%;">
    BlueBox is a web application of capable of providing information about Movies. It will give you information about
    upcoming movies, movies that are now playing. Provide popular movies and along with top rated movies.
</p>

<br />

<h3>Visit Repository:</h3>
<button type="button" class="btn btn-secondary" onclick="window.location.href='https://github.com/tapiad/Personal-Projects'">BlueBox Repository</button>

