@{
    ViewBag.Title = "Contact";
}

<br />

<h3>Helpful Links:</h3>

<br />

<div class="btn-group-vertical btn-group-sm">
    <strong>GitHub:</strong>   <a class="btn btn-outline-dark" href="https://github.com/tapiad">Github.com</a>
    <strong>Bitbucket:</strong> <a class="btn btn-outline-dark" href="https://bitbucket.org/daniel_tapia">Bitbucket.org</a>
    <strong>Portfolio:</strong>   <a class="btn btn-outline-dark" href="https://tapiad.github.io/">Tapiad.github.io</a>
    <strong>LinkedIn:</strong> <a class="btn btn-outline-dark" href="https://www.linkedin.com/in/daniel-tapia-103b0b156">Linkedin.com</a>
</div>


<div class="row" style="width: 30%;">
    <div class="col">
        <h3>Developer:</h3>
    </div>
    <div class="col" id="devSignature">
        <p>Daniel Tapia</p>
    </div>
</div>