@{
    ViewBag.Title = "Home Page";
}

<br />

<h3>Now Playing</h3>

<div class="col-sm-12 col-md-12 col-lg-12">
    <!--Line Break-->
    <br />
    @*Carosel*@
    <div id="img-slider" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators">
            <li data-target="#img-slider" data-slide-to="0" class="active"></li>
            <li data-target="#img-slider" data-slide-to="1"></li>
            <li data-target="#img-slider" data-slide-to="2"></li>
            <li data-target="#img-slider" data-slide-to="3"></li>
            <li data-target="#img-slider" data-slide-to="4"></li>
        </ul>

        <!-- The Carousel Slideshow -->
        <div class="carousel-inner" id="carouselSlider">
            @*<div class="carousel-item active">
                <img class="img-fluid" src="~/Content/Images/Jurassic-World-Fallen-Kingdom.jpg" alt="Jurassic World: Fallen Kingdom">
                <div class="carousel-caption">
                    <h3>Jurassic World: Fallen Kingdom</h3>
                </div>
            </div>

            <div class="carousel-item">
                <img class="img-fluid" src="~/Content/Images/Uncle-Drew.jpg" alt="Uncle Drew">
                <div class="carousel-caption">
                    <h3>Uncle Drew</h3>
                </div>
            </div>

            <div class="carousel-item">
                <img class="img-fluid" src="~/Content/Images/Oceans-8.jpg" alt="Oceans's 8">
                <div class="carousel-caption">
                    <h3>Ocean's 8</h3>
                </div>
            </div>*@
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#img-slider" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#img-slider" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>

    </div>
</div>



@section scripts{

    <script>
        //Get Movie API Key
        var movieAPIKey = '@System.Web.Configuration.WebConfigurationManager.AppSettings["TheMovieDB_APIKey"]';
    </script>

    <script type="text/javascript" src="~/Scripts/MyScripts/IndexScript.js"></script>
}