@{
    ViewBag.Title = "Home Page";
}

<br />

<h3>Now Playing</h3>

<div class="col-sm-12 col-md-12 col-lg-12">

    <!--Line Break-->
    <br />


    @*Carosel*@
    <div id="img-slider" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators">
            <li data-target="#img-slider" data-slide-to="0" class="active"></li>
            <li data-target="#img-slider" data-slide-to="1"></li>
            <li data-target="#img-slider" data-slide-to="2"></li>
            <li data-target="#img-slider" data-slide-to="3"></li>
            <li data-target="#img-slider" data-slide-to="4"></li>
        </ul>


        <!-- The Carousel Slideshow -->
        <div class="carousel-inner" id="carouselSlider">
            <!--This is where the 'Now Playing' information is going to be displayed -->
        </div>


        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#img-slider" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#img-slider" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>

    </div>


    <!--credit:https://codepen.io/JacobLett/pen/xqpEYE -->
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <!-- 16:9 aspect ratio -->
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="" id="video" allowscriptaccess="always">></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>






@section scripts{

    <script>
        //Get Movie API Key
        var movieAPIKey = '@System.Web.Configuration.WebConfigurationManager.AppSettings["TheMovieDB_APIKey"]';
    </script>

    <script type="text/javascript" src="~/Scripts/MyScripts/IndexScript.js"></script>
}