
@{
    ViewBag.Title = "NewMovieReleases";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Movie Releases</h2>

<br />


<div class="col-sm-12 col-md-12 col-lg-12">
    <div class="row" id="paginationBtn">
        <div class="col-sm-4 text-center">
            <button class="btn" id="prevBtn" onclick="prevPage()">Prev Page</button>
        </div>
        <div class="col-sm-4 text-center">
            <h5 id="currentPage"></h5>
        </div>
        <div class="col-sm-4 text-center">
            <button class="btn" id="nextBtn" onclick="nextPage()">Next Page</button>
        </div>
    </div>
    <br />

    @*New Movie Releases Results*@

</div>

<div class="col-sm-12 col-md-12 col-lg-12" id="newMovRel_Results">

        @*New Movie Releases Results*@

</div>


@section scripts{
    <script type="text/javascript" src="~/Scripts/MyScripts/NMR_Script.js"></script>
}
