
@{
    ViewBag.Title = "NewMovieReleases";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Movie Releases</h2>

<br />

<div class="col-sm-12 col-md-12 col-lg-12" id="newMovRel_Results">


</div>


@section scripts{
    <script type="text/javascript" src="~/Scripts/MyScripts/NMR_Script.js"></script>
}
